* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "Azeret Mono", monospace;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 5rem;
  padding-top: 1rem;
  top: 0;
  background-color: white;
  width: 100vw;
  overflow: hidden;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}
.web-title {
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
}
.resume-download {
  background-color: transparent;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(13, 19, 33);
  border-width: 1px;
  border-radius: 10px;
  border-color: #0d1321;
  cursor: pointer;
}
.header-wall {
  background-image: url("./assets/hero-bg.png");
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-img {
  margin-top: 2rem;
  margin-bottom: 8rem;
}
.header-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  width: 90%;
  margin-bottom: 1rem;
}
.header-description {
  width: 65%;
  margin-bottom: 1rem;
  text-align: center;
}
.contact {
  background-color: black;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border: 1pm;
  border-color: black;
  border-radius: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}
.why-container{
  background-color: #eaedf121;
  border: 1px;
  border-color: transparent;
  border-radius: 20px;
}
.why-container h1{
  text-align: center;
  font-size: 2rem;
  padding: 3rem 0 1rem 0;
}
.wey-web-description{
  text-align: center;
}
.why-web-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-container {
  background-color: white;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 90%;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px;
  border-color: white;
  border-radius: 20px;
}
.why-web-learn h3,p,button{
margin-bottom: 2rem;
color: #0d1321ce;
}
.why-web-learn>button{
  cursor: pointer;
  padding: 0.8rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}
.web-container img{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.embed-video {
  display: flex;
  justify-content: center;
}
.current{
    display: flex;
    justify-content: space-evenly;
}
.next article{
  display: flex;
}